#board {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

button {
  margin-left: 10px;
  float: right;
}

table,
tr,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
  width: 300px;
  text-align: left;
}

input {
  padding: 3px 5px;
  margin-bottom: 5px;
}
